@media(max-width: 660px) {
    .main {
        width: 375px;
    }

    .logo {
        margin-top: 135px;
    }

    .section-primary h1 {
        font-size: 35px;
        margin-top: 62px;
    }

    .section-primary p {
        margin-top: 29px;
    }

    .div-email {
        flex-direction: column;
        margin-top: 51px;
    }

    .div-email .input-email {
        font-size: 20px;
        width: 450px;
        height: 62px;
        padding-left: 50px;
        margin-right: 0;
    }

    .div-email .btn-submit {
        width: 450px;
        height: 62px;
        font-size: 20px;
        margin-top: 19px;
    }

    .div-email .error-message {
        align-self: center;
        font-size: 16px;
        padding-left: 0px;
        margin-top: 11px;
        margin-bottom: 20px;
    }

    .section-secondary {
        margin-top: 100px;
    }

    .section-secondary .ilustration {
        max-width: 512px;
    }

    .section-secondary .social-ul {
        gap: 24px;
        margin-top: 195px;
    }

    .section-secondary .social-ul li {
        width: 47px;
        height: 47px;
        font-size: 24px;
    }

    .section-secondary p {
        font-size: 16px;
        margin-top: 45px;
    }

    .attribution {
        padding-bottom: 17px;
    }
}